h1{
    color: #85C1E9;
}

.aboutName h1 {
    color: black;
    padding-left: 850px;
}

.header {
    /* background-color: orange; */
    display: flex;
    justify-content: space-between;
}

.juegos {
    /* background-color: rgb(151, 103, 14); */
    display: flex;
    justify-content: space-between;
}

.redes{
    display: flex;
    justify-content: end;
}

body {
    background-color: #34495E;
}

h2 {
    color: #A9DFBF;
}

p{
    color: #D6EAF8;
}